@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model HomeModel
@{
	ViewData["Title"] = "Home";

	DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/inkball.css")}' />");
	});



	var bIsLoggedIn = (Model.GameUser != null) ? true : false;
	var bIsCurrentGameOk = Model.Game != null ? true : false;


	if (bIsLoggedIn)
	{
		<p>Welcome <span>@Model.UserName</span></p>
	}
	else
	{
		<p>You are not logged in ... or old enough :-D</p>
	}
}

@if (!string.IsNullOrEmpty(Model.Message))
{
	var statusMessageClass = Model.Message.Contains("Error") ? "danger" : "success";
	<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		@Model.Message
	</div>
}

<form method='post'>
	<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
		@if (bIsLoggedIn)
		{
			if (bIsCurrentGameOk)
			{
				//continue
				<input type='submit' name='action' value='Continue' class="btn btn-primary btn-lg" />
			}
			else
			{
				//new game
				<input type='submit' name='action' value='New game' class="btn btn-primary btn-lg" />

				<select name='GameType' id='GameType'>
					<option value='0' selected='selected'>First capture wins</option>
					<option value='1'>First 5 captures wins</option>
					<option value='2'>First 5 paths wins</option>
					<option value='3'>Advantage of 5 paths wins</option>
				</select>
			}
			<input type='submit' name='action' value='Game list' class="btn btn-primary" />
			<input type='submit' name='action' value='Best' class="btn btn-primary" />
			<a href="Rules" class="btn btn-primary">Game rules</a>
			<input type='submit' name='action' value='Logout' class="btn btn-warning" />
		}
		else
		{
			<a href="Rules" class="btn btn-primary">Game rules</a>
			<a href="~/Identity/Account/Login" class="btn btn-primary">Login</a>
			<a href="~/Identity/Account/Register" class="btn btn-primary">Register</a>
		}
	</div>
</form>








@*
	@{
		DefineSection(commonUIConfigureOptions.Value.ScriptsSectionName, async () =>
		{
			WriteLiteral($"<script type='text/javascript' src='{Url.Content("~/js/inkball.js")}'></script>");
		});
	}
*@