@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model HomeModel
@{
    ViewData["Title"] = "Home";

    if (!string.IsNullOrEmpty(commonUIConfigureOptions.Value.HeadElementsSectionName))
    {
		DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
		{
			WriteLiteral($"<link rel='stylesheet' href='{Url.Content(Constants.WwwIncludeCSS)}' />");
		});
    }


    var bIsLoggedIn = (Model.GameUser != null) ? true : false;
    var bIsCurrentGameOk = Model.Game != null ? true : false;

    if (bIsLoggedIn)
    {
		<p class="inkhome">Welcome @Model.UserName</p>
	}
	else
	{
		<p class="inkhome">You are not logged in ... or old enough :-D</p>
	}
}

@if (!string.IsNullOrEmpty(Model.Message))
{
	var statusMessageClass = Model.Message.Contains("Error") ? "danger" : "success";
	<div class="alert alert-@statusMessageClass alert-dismissible fade show inkhome" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		@Model.Message
	</div>
}

<div class="container inkhome">
	<div class="row" role="group" aria-label="Vertical button group">
		<form method='post' class="order-last order-sm-first pr-md-2 btn-group-vertical was-validated">
			@if (bIsLoggedIn)
			{
				if (bIsCurrentGameOk)
				{
					//continue
					<!-- <input type='submit' name='action' value='Continue' class="btn btn-primary btn-lg" /> -->
					<a href='Index' class='btn btn-primary btn-lg d-flex align-items-center justify-content-center'>Continue</a>
				}
				else
				{
					//new game
					<input type='submit' name='action' value='New game' class="btn btn-primary btn-lg" />
					<select name='GameType' id='GameType' class="custom-select" required>
  						<option value='' selected='selected'>Choose game type</option>
						<optgroup label='Game types'>
							<option value='0'>First capture wins</option>
							<option value='1'>First 5 captures wins</option>
							<option value='2'>First 5 paths wins</option>
							<option value='3'>Advantage of 5 paths wins</option>
						</optgroup>
					</select>
					<div class="invalid-feedback">Invalid game type</div>

					<select name='BoardSize' id='BoardSize' class="custom-select" required>
  						<option value='' selected='selected'>Choose board size</option>
						<optgroup label='Board sizes'>
							<option value='20'>20 x 26</option>
							<option value='40'>40 x 52</option>
							<option value='64'>64 x 64</option>
							<option value='80'>80 x 80</option>
						</optgroup>
					</select>
					<div class="invalid-feedback">Invalid bard size</div>
				}
				<!-- <input type='submit' name='action' value='Game list' class="btn btn-primary" formnovalidate='formnovalidate' />
				<input type='submit' name='action' value='Best' class="btn btn-primary" formnovalidate='formnovalidate' /> -->
				<a href="Games" class="btn btn-primary d-flex align-items-center justify-content-center">Game list</a>
				<a href="Highscores" class="btn btn-primary d-flex align-items-center justify-content-center">Best</a>
				<a href="Rules" class="btn btn-primary d-flex align-items-center justify-content-center">Game rules</a>
				<input type='submit' name='action' value='Logout' class="btn btn-warning rounded-bottom" formnovalidate='formnovalidate' />
			}
			else
			{
				//not logged or bad
				<a href="Rules" class="btn btn-primary d-flex align-items-center justify-content-center">Game rules</a>
				<a href="~/Identity/Account/Login" class="btn btn-primary d-flex align-items-center justify-content-center">Login</a>
				<a href="~/Identity/Account/Register" class="btn btn-primary d-flex align-items-center justify-content-center rounded-bottom">Register</a>
			}
		</form>
		<div class="order-first order-sm-last pb-2 pb-md-0">
			<picture alt="home screen" aria-label="home screen image">
				<source type="image/webp" srcset="../img/homescreen.webp" />
				<img src="../img/homescreen.jpg" alt="home screen" aria-label="home screen image" />
			</picture>
		</div>
	</div>
</div>
