@page
@model HomeModel
@{
	ViewData["Title"] = "Home";

	DefineSection(InkBall.Module.CommonUIConfigureOptions.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/demo.css")}' />");
	});
}
<p class="blue-paragraph">
	homik
</p>
@{
	DefineSection(InkBall.Module.CommonUIConfigureOptions.ScriptsSectionName, async () =>
	{
		WriteLiteral($"<script type='text/javascript' src='{Url.Content("~/js/script.js")}'></script>");
	});
}