@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model IndexModel
@{
	ViewData["Title"] = "Index";

	DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/inkball.css")}' />");
	});
}
<h1>
	This is from InkBall.Module.Pages.Index
</h1>
<p class="blue-paragraph">
	I amd SOO BLUEEEE
</p>
<p>
	<img src="~/img/image.png" alt="image" />
</p>
<div id="screen" style="position:relative; width:@(Model.Game.iBoardWidth)px; height:@(Model.Game.iBoardHeight)px; border:1px solid red; background-image:url('../img/plansza1.gif')">
</div>



<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-6">&nbsp;</div>
		<div class="col-6">
			@*User..........<input type="text" id="userInput" />
			<br />*@
			Message...<input type="text" id="messageInput" />
			<input type="button" id="sendButton" value="Send Message" />
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-6">&nbsp;</div>
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>



@{
	DefineSection(commonUIConfigureOptions.Value.ScriptsSectionName, async () =>
	{
		WriteLiteral(
			(env.IsDevelopment() ?
			$"<script src='{Url.Content("~/lib/signalr/dist/browser/signalr.js")}'></script>\r" +
			$"<script src='{Url.Content("~/lib/msgpack5/dist/msgpack5.js")}'></script>\r" +
			$"<script src='{Url.Content("~/lib/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js")}'></script>\r"
			:
			@"<script src='https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.4/dist/browser/signalr.min.js' integrity='sha256-51sQPE7Pj6aicVoT5i+HOaNgW7s+3i9xGiEUCwhVvVM=' crossorigin='anonymous'></script>
			<script src='https://cdn.jsdelivr.net/npm/msgpack5@4.2.1/dist/msgpack5.min.js' integrity='sha256-mY/RhkCJfd98j3c5s1EcUDJdRzffTeKzEzFIaI/2KQg=' crossorigin='anonymous'></script>
			<script src='https://cdn.jsdelivr.net/npm/@aspnet/signalr-protocol-msgpack@1.0.4/dist/browser/signalr-protocol-msgpack.min.js' integrity='sha256-9nFv+8Bx/7mIxVAZlMXIa8/Kh79KtIxwAKRSp2RhvRk=' crossorigin='anonymous'></script>") +


			$"<script type='text/javascript' src='{Url.Content("~/js/svgvml.js")}'></script>\r" +
			

			@"<script type='text/javascript'>
				var ie = !(navigator.userAgent.indexOf('Trident') < 0);
				if(ie == false) {
					document.write(""<script src='" + Url.Content("~/js/inkball.js") + @"'></scr""+""ipt>"");
				} else {
					document.write(""<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.min.js' integrity='sha256-KLt4XkpH4F3e5FHHsQMk9iPOhen2S4g/Lpu4nanttL0=' crossorigin='anonymous'></scr""+""ipt>"");
					document.write(""<script src='" + Url.Content("~/js/inkball.babelify.js") + @"'></scr""+""ipt>"");
				}


				$(document).ready(function () {
					//alert('a QQ');
					$('.blue-paragraph').css('color', 'blue');

					var inkBallHubName = '" + commonUIConfigureOptions.Value.AppRootPath + InkBall.Module.Hubs.ChatHub.HubName + @"';
					var iGameID = " + Model.Game.iId + @";
					var iPlayerID = " + Model.Player.iId + @";

					BuildSignalR(inkBallHubName, signalR.LogLevel.Warning,
						//new signalR.protocols.msgpack.MessagePackHubProtocol()
						new signalR.JsonHubProtocol(),
						signalR.HttpTransportType.None,
						function() {
							return 'iGameID=' + iGameID;
						}
					);
					StartSignalRConnection(iGameID, iPlayerID);
				});
			</script>"
		);
	});
}