@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model IndexModel
@{
	ViewData["Title"] = "Index";

	DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/demo.css")}' />");
	});
}
<h1>
	This is from InkBall.Module.Pages.Index
</h1>
<p class="blue-paragraph">
	I amd SOO BLUEEEE
</p>
<p>
	<img src="~/img/image.png" alt="image" />
</p>
<div id="screen" style="position:relative; width:@(Model.Game.iBoardWidth)px; height:@(Model.Game.iBoardHeight)px; border:1px solid red; background-image:url('../img/plansza1.gif')">
</div>



<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-6">&nbsp;</div>
		<div class="col-6">
			User..........<input type="text" id="userInput" />
			<br />
			Message...<input type="text" id="messageInput" />
			<input type="button" id="sendButton" value="Send Message" />
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-6">&nbsp;</div>
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>



@{
	DefineSection(commonUIConfigureOptions.Value.ScriptsSectionName, async () =>
	{
		WriteLiteral(
			$"<script src='{Url.Content("~/lib/signalr/dist/browser/signalr.js")}'></script>\r" +
			$"<script type='text/javascript' src='{Url.Content("~/js/svgvml.js")}'></script>\r" +
			$"<script type='text/javascript' src='{Url.Content("~/js/inkball.js")}'></script>\r" +
			@"<script>
				$(document).ready(function () {
					//alert('a QQ');
					$('.blue-paragraph').css('color', 'blue');

					var inkBallHubName = '" + commonUIConfigureOptions.Value.AppRootPath + InkBall.Module.Hubs.ChatHub.HubName + @"';

					buildSignalR(inkBallHubName);
					startSignalRConnection();
				});
			</script>"
        );
	});
}