@page
@model InkBall.Module.Pages.IndexModel
@{
	ViewData["Title"] = "Index";

	DefineSection(InkBall.Module.CommonUIConfigureOptions.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/demo.css")}' />");
	});
}
<h1>
	This is from InkBall.Module.Pages.Index
</h1>
<p class="blue-paragraph">
	I amd SOO BLUEEEE
</p>
<p>
	<img src="~/images/image.png" alt="image" />
</p>
@{
	DefineSection(InkBall.Module.CommonUIConfigureOptions.ScriptsSectionName, async () =>
	{
		WriteLiteral($"<script type='text/javascript' src='{Url.Content("~/js/script.js")}'></script>");
	});
}