@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model IndexModel
@{
	ViewData["Title"] = "Index";

	DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/demo.css")}' />");
	});
}
<h1>
	This is from InkBall.Module.Pages.Index
</h1>
<p class="blue-paragraph">
	I amd SOO BLUEEEE
</p>
<p>
	<img src="~/img/image.png" alt="image" />
</p>
<div id="screen" style="position:relative; width:@(Model.Game.iBoardWidth)px; height:@(Model.Game.iBoardHeight)px; border:1px solid red; background-image:url('../img/plansza1.gif')">
</div>
@{
	DefineSection(commonUIConfigureOptions.Value.ScriptsSectionName, async () =>
	{
		WriteLiteral($"<script type='text/javascript' src='{Url.Content("~/js/script.js")}'></script>" +
		$"<script type='text/javascript' src='{Url.Content("~/js/svgvml.js")}'></script>");
	});
}