@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model RulesModel
@{
    ViewData["Title"] = "Rules";

    HtmlHelpers.RenderHeaderSection(this, Url, commonUIConfigureOptions);
}


<a href="Home" class="btn btn-primary my-2">Home</a>
<ol>
	<li>Player put dots on the grid one after another</li>
	<li>When player wants to surround opponent dots, one choses <strong class="text-danger">Draw lines</strong> and draws surrounding line; to put dots again - click <strong class="text-danger">Draw dots</strong></li>
	<li><strong class="text-danger">Cancel path</strong> reverts already drawn line</li>
	<li>One can not put dots inside surrounded groups</li>
	<li>There must be at least one opponent dots to surround</li>
</ol>
