@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model RulesModel
@{
    ViewData["Title"] = "Rules";

    HtmlHelpers.RenderHeaderSection(this, Url, commonUIConfigureOptions);
}


<a href="Home" class="btn btn-primary my-2">Home</a>
<ol>
	<li>Player put dots on the grid one after another</li>
	<li>When player wants to surround oponents dots, one choses <span style='color:red; font-weight:bold'>Draw lines</span> and draws surrounding line; to put dots again - click <span style='color:red; font-weight:bold'>Draw dots</span></li>
	<li><span style='color:red; font-weight:bold'>Cancel path</span> reverts already drawn line</li>
	<li>One can not put dots inside surrounded groups</li>
	<li>There must be at least one oponent dots to surround</li>
</ol>
