@charset "UTF-8";
@import "svg-url";

/**********inkgame*********/
h3.inkgame {
	color: darkorange;
}

p.inkgame {
	margin-bottom: 0.3em;
}

@mixin background($cellWidth, $cellHeight) {
	//https://codepen.io/jakob-e/pen/doMoML processed SVG
	background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg"><defs><pattern id="grid" width="#{$cellWidth}" height="#{$cellHeight}" patternUnits="userSpaceOnUse"><path d="M #{$cellWidth} 0 L 0 0 0 #{$cellHeight}" fill="none" stroke="gray" stroke-width="0.5"/></pattern></defs><rect width="100%" height="100%" fill="url(#grid)" /></svg>');
}

@mixin baseBoard($width, $height, $cellWidth, $cellHeight) {
	width: calc(#{$cellWidth} * #{$width} * 1);
	height: calc(#{$cellHeight} * #{$height} * 1);
}

@mixin board($parent, $width, $height, $cellWidth: 1em, $cellHeight: 1em) {
	#{$parent}-#{$width}x#{$height} {
		@include baseBoard(#{$width}, #{$height}, #{$cellWidth}, #{$cellHeight});
	}
}

@mixin irregularBoard($parent, $width, $height, $cellWidth: 15px, $cellHeight: 1em) {
	#{$parent}-#{$width}x#{$height} {
		@include background(15, 16);
		background-size: calc(#{$cellWidth} * 5) calc(#{$cellHeight} * 5);
		@include baseBoard(#{$width}, #{$height}, #{$cellWidth}, #{$cellHeight});
	}
}

.inkgame {
	div#status span {
		vertical-align: middle;
		display: inline-block;
		line-height: 1em;

		&#gameStatus {
			font-size: 2em;
			vertical-align: middle;
			display: inline-block;
			line-height: 1em;
		}
	}

	div#screen {
		border: 1px solid red;
		/* font-size: 32px; */
		> svg {
			width: 100%;
			height: 100%;
		}
	}

	ul#messagesList {
		overflow: auto;
		height: calc(26em * 1);
	}
}

.boardsize-20x26, .boardsize-40x52 {
	@include background(16, 16);
	background-size: calc(1em * 5) calc(1em * 5);
}

@include board('.boardsize', 20, 26);

@include board('.boardsize', 40, 52);

@include irregularBoard('.boardsize', 64, 64);

/**********inkgames(list)*********/
.inkgames {
	&.grid-striped .row:nth-of-type(odd) {
		background-color: rgba(0,0,0,.05);
	}

	.table-responsive {
		overflow-y: auto;
		max-height: 75vh;
	}
}
/**********inkstats*********/
.inkstats .grid-striped .row:nth-of-type(odd) {
	background-color: rgba(0,0,0,.05);
}
